*.o
!*.*
.idea


1tp/*
1tp/code_src/detectionContourGrad.o
1tp/code_src/essai1
1tp/code_src/essai1.o
1tp/code_src/essai2
1tp/code_src/essai2.o
1tp/code_src/essai3
1tp/code_src/fft.o
1tp/code_src/filtreGaussien
1tp/code_src/filtreGaussien.o
1tp/code_src/globulesbb50_filtre3_fin.pgm
1tp/code_src/globulesbb50_fin.pgm
1tp/code_src/globulesbb50_means_filtrer3.pgm
1tp/code_src/gradmean.sh
1tp/code_src/img.o
1tp/code_src/moi/
1tp/code_src/note
1tp/code_src/pgm.o
1tp/note.txt
1tp/rapport/img/globulesbb10_filtre2_fin1.pgm
1tp/rapport/img/globulesbb26.pgm
1tp/rapport/img/toto
1tp/rapport/rapport.aux
1tp/rapport/rapport.log
1tp/rapport/rapport.out
1tp/rapport/rapport.pdf
2tp/code_src/compare.sh
2tp/code_src/compareB.sh
2tp/code_src/compareM.sh
2tp/code_src/estimationBruit
2tp/code_src/estimationBruit.o
2tp/code_src/filters.o
2tp/code_src/filtreAdaptatifRecursif
2tp/code_src/filtreAdaptatifRecursif.o
2tp/code_src/filtreBilateral
2tp/code_src/filtreBilateral.o
2tp/code_src/filtreMedian
2tp/code_src/filtreMedian.o
2tp/code_src/filtreNIMeans
2tp/code_src/filtreNIMeans.o
2tp/code_src/globb25Bilateral_5_20.pgm
2tp/code_src/pgm.o
2tp/code_src/test.pgm
2tp/code_src/testM.pgm
2tp/code_src/testM2.pgm
2tp/code_src/testPsnr
2tp/code_src/testPsnr.o

